PyQt5==5.15.*
PyQt6==6.6.1
SQLAlchemy==2.0.25
pandas==1.5.*
openpyxl==3.1.*
reportlab==4.0.8
python-dateutil==2.9.*
python-dotenv==1.0.0
pyserial==3.5.*
pyzbar==0.1.*
python-barcode==0.15.*
fuzzywuzzy[speedup]==0.18.*
arabic-reshaper==3.0.0
python-bidi==0.4.2

